// =========================================
// colors
// =========================================

$cloud: #f7f7f7;
$bone: #efefef;
$charcoal: #2b2829;
$neutral: #ccc;

$pumpkin: #d25827;
$glacier: #3fa2a8;
$marigold: #d4a214;
$azure: #334d5c;
$twilight: #626172;
$wine: #5a0839;
$verdant: #9ca54a;
$water: #79b1b3;
$coffee: #868477;



// =========================================
// spacing and sizes
// =========================================

$section-padding: 65px !default;
$global-padding: 20px !default;
$side-padding: 7% !default;
$global-radius: 3px !default;

@mixin align-vertically {
  @include media($medium-up) {
    display: flex;
    align-items: center;
  }
}



// =========================================
// sections
// =========================================

@mixin page-section($section-bkgrnd-color: $bone) {
  @include padding($section-padding $side-padding);
  background-color: $section-bkgrnd-color;
}



// =========================================
// type
// =========================================

$primary-font: Lato, 'sans-serif' !default;
$primary-font-weight: 300 !default;

@mixin dark-background {
  color: rgba(white, 0.75);

  blockquote {
    color: rgba(white, 0.8);
    border-left: 1px solid rgba(white, 0.4);
  }

  h2 {
    color: lighten($verdant, 20%);
  }

  a {
    color: white;
  }

  .lede {
    color: rgba(white, 0.8);
  }
}



// =========================================
// media queries
// =========================================

$baby-bear: 414px;
$mama-bear: 768px;

$medium-up: new-breakpoint(min-width $max-width);
$medium-down: new-breakpoint(max-width $max-width);
