// =========================================
// colors
// =========================================

$bone: #efefef;
$charcoal: #2b2829;
$neutral: #ccc;

$pumpkin: #d25827;
$glacier: #3fa2a8;
$marigold: #d4a214;
$azure: #334d5c;
$twilight: #626172;
$wine: #5a0839;
$verdant: #9ca54a;
$water: #79b1b3;
$coffee: #868477;



// =========================================
// spacing
// =========================================

$section-padding: 65px !default;
$global-padding: 20px !default;
$side-padding: 7% !default;
$global-radius: 2px !default;

@mixin page-section {
  @include padding($section-padding $side-padding);

  &:nth-child(2n) {
    background-color: white;
  }
}



// =========================================
// type
// =========================================

$primary-font: Lato, 'sans-serif' !default;
$primary-font-weight: 300 !default;

@mixin dark-background {
  color: rgba(white, 0.5);

  a {
    color: $verdant;
  }
}



// =========================================
// media queries
// =========================================

$baby-bear: 414px;
$mama-bear: 768px;

$medium-up: new-breakpoint(min-width $mama-bear);
$medium-down: new-breakpoint(max-width $mama-bear);
