body.about {

  .page-hero {
    background-image: image_url('about/hero.jpg');

    @include media($medium-up) {
      background-image: image_url('about/hero-lg.jpg');
    }
  }



  section.logo-overview {
    @include page-section($section-bkgrnd-color: $charcoal);
    @include dark-background;
    padding-bottom: 0;

    .container { @include align-vertically; }

    aside {
      @include media($medium-up) {
        @include span-columns(6);
      }
    }

    article {
      @include media($medium-up) {
        @include span-columns(6);
      }
    }
  }



  section.logo-details {
    @include page-section($section-bkgrnd-color: $charcoal);
    @include dark-background;

    figure {
      padding: $global-padding;
      @include margin($global-padding null);
      @include align-vertically;
      border: 1px solid rgba(white, 0.2);
      border-radius: $global-radius;
      background: rgba(white, 0.05);

      img {
        border-radius: $global-radius;
        margin-bottom: $global-padding/2;
        background: rgba(white, 0.05);

        @include media($medium-up) {
          @include span-columns(4);
          margin-bottom: 0;
        }
      }

      figcaption {
        @include media($medium-up) {
          @include span-columns(8);
        }
      }
    }
  }



  section.staff {
    @include page-section;

    article {
      @include media($medium-up) {
        @include span-columns(4);
      }
    }

    aside {
      @include media($medium-up) {
        @include span-columns(8);
        padding-left: $global-padding;
      }
    }

    figure {
      margin-bottom: 30px;
      border-radius: $global-radius;
      overflow: hidden;

      @include media($medium-up) {
        @include span-columns(4);
        @include omega(3n);
      }

      @include media($medium-down) {
        @include span-columns(6);
        @include omega(2n);
      }

      figcaption {
        @include position(absolute, null 0 0 0);
        background-color: rgba(black, 0.75);
        color: $bone;
        padding: 5px;
      }
    }
  }



  section.faq {
    @include page-section($section-bkgrnd-color: white);

    .faq-grid {
      margin-top: $global-padding;

      li {
        @include margin(2% 2% 0 0);
        width: 48%;
        border-radius: $global-radius;
        overflow: hidden;

        @include media($medium-up) {
          width: 23%;
        }
      }
    }
  }

}
