body.chinese-medicine {

  .page-hero {
    background-image: image_url('chinese-medicine/hero.jpg');

    @include media($medium-up) {
      background-image: image_url('chinese-medicine/hero-lg.jpg');
    }
  }


  section.overview {
    @include page-section($section-bkgrnd-color: white);
  }


  section.history {
    @include page-section($section-bkgrnd-color: $bone);
    padding-top: 350px + $section-padding/2;

    .hero {
      height: 350px;
      background-size: cover;
      background-repeat: none;
      background-position: center;
      background-image: image_url('chinese-medicine/moxa.jpg');
      @include position(absolute, 0 0 null 0);

      @include media($medium-up) {
        background-image: image_url('chinese-medicine/moxa-lg.jpg');
      }
    }
  }


  section.treatments {
    @include page-section($section-bkgrnd-color: white);

    .treatment-options {
      border-top: 1px solid $neutral;
      border-bottom: 1px solid $neutral;
      margin: $global-padding 0;
      padding: $global-padding*2 0;

      @include media($medium-up) {
        column-count: 2;
        column-gap: 80px;
        column-rule: 1px dotted #efefef;
      }

      p { font-size: 0.9rem; }

      article {
        break-inside: avoid;
        margin: 0 0 $global-padding 0;
      }
    }
  }

}
