body.events {

  .page-hero {
    background-image: image_url('events/hero.jpg');

    @include media($medium-up) {
      background-image: image_url('events/hero-lg.jpg');
    }
  }



  section.overview {
    @include page-section($section-bkgrnd-color: white);
  }



  section.events {
    @include page-section;

    .event {
      margin-top: $global-padding;
      border: 1px solid $neutral;
      border-radius: $global-radius;
      padding: $global-padding;
      background-color: white;

      img {
        margin-bottom: $global-padding;
        border-radius: $global-radius;
      }

      time {
        margin: $global-padding/2 0;
        display: block;
        border-left: 4px solid $water;
        padding-left: 10px;
        color: $coffee;
      }

    }
  }



  section.photos {
    @include page-section($section-bkgrnd-color: white);
  }



  section.subscribe {
    @include page-section;
  }

}
