body.get-started {

  .page-hero {
    background-image: image_url('get-started/hero.jpg');

    @include media($medium-up) {
      background-image: image_url('get-started/hero-lg.jpg');
    }
  }


  section.overview {
    @include page-section($section-bkgrnd-color: white);
  }


  section.diary {
    @include page-section;

    aside {
      font-size: 4rem;
      color: $wine;

      @include media($medium-up) {
        @include span-columns(2);
      }

      @include media($medium-down) {
        margin-bottom: $global-padding/2;
      }

      span {
        font-size: 0.75rem;
        text-transform: uppercase;
      }
    }

    article {
      @include media($medium-up) {
        @include span-columns(10);
      }
    }

    .container {
      @include padding($global-padding*2 null);
      border-bottom: 1px dashed $neutral;

      &:last-child {
        border-bottom: 0;
      }

      &:first-child {
        display: block;
      }

      @include media($medium-up) {
        display: flex;
        align-items: center;
      }
    }
  }


  section.sign-up {
    @include page-section($section-bkgrnd-color: white);
  }


}
