body.get-started {

  .page-hero {
    background-image: image_url('get-started/hero.jpg');

    @include media($medium-up) {
      background-image: image_url('get-started/hero-lg.jpg');
    }
  }


  section.overview {
    @include page-section($section-bkgrnd-color: white);
  }


  section.diary {
    @include page-section;

    aside {
      @include media($medium-up) {
        @include span-columns(2);
      }
    }

    article {
      @include media($medium-up) {
        @include span-columns(10);
      }
    }

    .container {
      display: flex;
      align-items: center;
      @include padding($global-padding*2 null);
      border-bottom: 1px dashed $neutral;

      &:last-child {
        border-bottom: 0;
      }

      &:first-child {
        display: block;
      }
    }
  }


  section.sign-up {
    @include page-section($section-bkgrnd-color: white);
  }


}
