body.schedule {

  .page-hero {
    background-image: image_url('schedule/hero.jpg');

    @include media($medium-up) {
      background-image: image_url('schedule/hero-lg.jpg');
    }
  }

  ul.contact {
    font-size: 14px;
  }



  section.schedule-overview {
    @include page-section($section-bkgrnd-color: white);
  }


  section.longmont, section.thornton {
    h2 {
      margin-bottom: 0;
    }
  }

  section.longmont {
    @include page-section($section-bkgrnd-color: $bone);
  }



  section.thornton {
    @include page-section($section-bkgrnd-color: white);
  }



  section.flexible-options {
    @include page-section($section-bkgrnd-color: $twilight);
    @include dark-background;
  }


  section.subscribe {
    @include page-section($section-bkgrnd-color: white);
  }
}
