body.schedule {

  .page-hero {
    background-image: image_url('schedule/hero.jpg');

    @include media($medium-up) {
      background-image: image_url('schedule/hero-lg.jpg');
    }
  }



  section.schedule {
    @include page-section($section-bkgrnd-color: white);

    h2 { margin: 0; }

    .day {
      border-radius: $global-radius;
      background-color: $cloud;
      margin-top: $global-padding;
      min-height: 190px;

      @include media($medium-up) {
        @include span-columns(4);
        @include omega(3n);
      }

      h3 {
        color: white;
        background: $twilight;
        padding: $global-padding/2;
      }

      dl {
        display: flex;
        flex-wrap: wrap;
        margin-top: $global-padding/2;
        padding: 0 $global-padding/2;
      }

      dt {
        width: 40%;
        @include margin($global-padding/2 null);
        font-size: 0.75em;
        text-transform: uppercase;
      }

      dd {
        width: 60%;
        @include margin($global-padding/2 null);
      }
    }
  }



  section.flexible-options {
    @include page-section($section-bkgrnd-color: $twilight);
    @include dark-background;
  }


  section.subscribe {
    @include page-section($section-bkgrnd-color: white);
  }
}
