= stylesheet_link_tag '//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css'
= stylesheet_link_tag '//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css'
= javascript_include_tag '//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js'
