footer.site-footer {
  @include page-section($section-bkgrnd-color: $charcoal);
  @include dark-background;

  p, li {
    font-size: 0.9em;
  }

  a {
    color: $neutral;

    &:hover { color: $water; }
  }

  .branding,
  .social {

    img {
      max-width: 250px;
    }

    @include media($medium-up) {
      @include span-columns(3);
    }
  }

  .social {
    @include media($medium-up) {
      padding-left: 2%;
    }
  }

  .nav-tree {
    margin: $global-padding 0;

    @include media($medium-up) {
      @include span-columns(6);
      columns: 2;
      border-left: 1px solid rgba(white, 0.1);
      border-right: 1px solid rgba(white, 0.1);
      margin: 0 2%;
      padding: 0 2%;
    }
  }

  ul.contact {
    font-size: 0.9em;
    margin-top: $global-padding;

    li {
      line-height: 1.5em;
    }

    i {
      font-size: 0.8em;
      color: rgba(white, 0.5);
    }
  }
}
