#masonry-container > li {
  background: $charcoal;
  @include transition(all, 0.2s);

  &:hover {
    background: lighten($charcoal, 20%);
    @include transition(all, 0.2s);
  }

  .tile {
    padding: $global-padding/2;
    @include transition(all, 0.2s);

    &:hover {
      @include transition(all, 0.2s);
    }
  }

  a {
    color: $bone;
  }

  .alt-1 {
    @extend .tile;
    background: $twilight;

    &:hover {
      background: lighten($twilight, 10%);
    }
  }

  .alt-2 {
    @extend .tile;
    background: $azure;

    &:hover {
      background: lighten($azure, 10%);
    }
  }

  .alt-3 {
    @extend .tile;
    background: $pumpkin;

    &:hover {
      background: lighten($pumpkin, 10%);
    }
  }

  .alt-4 {
    @extend .tile;
    background: $verdant;

    &:hover {
      background: lighten($verdant, 10%);
    }
  }

}
