// =========================================
// push screen nav
// inspired by https://codyhouse.co/gem/full-screen-pushing-navigation/
// =========================================

nav.main-nav {
  @include padding(5%);
  @include position(fixed, 0 null null 0);
  z-index: 1;
  background-color: $charcoal;
  background-image: image_url('seal.png');
  background-repeat: no-repeat;
  background-position: 30% 30%;
  color: $bone;
  visibility: hidden;
  @include size(100%);
  @include transition(visibility 0s 0.7s);
  @include transition-timing-function(cubic-bezier(.91,.01,.6,.99));
  overflow-y: auto;

  @include media($medium-up) {
    @include padding(200px 5%);
  }

  .navigation-is-open & {
    visibility: visible;
    @include transition(visibility 0s 0s);
  }

  // the nav screen

  .container {
    max-width: 600px;
    overflow-y: auto;
  }

  img.logo {
    margin-bottom: $global-padding;
    max-width: 230px;

    @include media($medium-up) {
      max-width: 270px;
    }
  }

  ul.contact {
    font-size: 0.8em;
    line-height: 1.5em;
    color: rgba(white, 0.5);

    @include media($medium-down) {
      margin-bottom: $global-padding*2;

      .email-link {
        margin-bottom: $global-padding;
        padding: 5px 10px;
        border: 1px solid rgba(white, 0.2);
        border-radius: $global-radius;
        display: inline-block;
      }
    }
  }

  .primary-column {
    @include media($medium-up) {
      @include span-columns(5);
    }
  }

  .secondary-column {
    @include media($medium-up) {
      @include shift(1);
      @include span-columns(6);
    }
  }

  .subgroup {
    margin-bottom: $global-padding;
    border: 1px solid rgba(white, 0.1);
    border-radius: $global-radius;

    &:last-of-type { margin-bottom: 0; }

    li {
      border-bottom: 1px dotted rgba(white, 0.05);
      &:last-child { border-bottom: none; }

      a {
        display: block;
        @include padding(1.5% 3%);

        &:hover { background-color: rgba(white, 0.1); }
      }
    }

    i {
      font-size: 0.6em;
      margin-left: 0.3em;
    }
  }
}



// =========================================
// nav icon button
// =========================================

// see dist/hamburger for hamburger styling,
// some styles overwritten in settings

.nav-trigger-holder {
  @include position(fixed, 0 null null 50%);
  transform: translateX(-50%);
  width: 100%;
  max-width: $page-width;
  z-index: 3;
}

.nav-trigger {
  @include margin($global-padding $global-padding 0 0);
  background-color: $charcoal;
  border-radius: $global-radius;
  line-height: 0em;
  border: 1px solid rgba(white, 0.1);
  float: right;

  &:hover {
    color: white;
    background-color: lighten($charcoal, 10%);
  }

  .hamburger:focus {
    outline: 0;
  }
}



// =========================================
// social nav
// =========================================

.social-nav {
  li {
    display: inline-block;
    margin-right: 0.5em;
    &:last-child { margin-right: 0; }
  }

  i {
    border: 1px solid rgba(white, 0.1);
    border-radius: $global-radius;
    padding: 7px 10px;
    @include transition(all, 0.2s);
    color: rgba(white, 0.5);

    &:hover {
      background-color: rgba(white, 0.1);
      @include transition(all, 0.2s);
      color: white;
    }
  }
}
