// =========================================
// push screen nav
// inspired by https://codyhouse.co/gem/full-screen-pushing-navigation/
// =========================================

nav.main-nav {
  @include padding(200px 5%);
  @include position(fixed, 0 null null 0);
  z-index: 1;
  background-color: $charcoal;
  color: $bone;
  visibility: hidden;
  @include size(100%);
  @include transition(visibility 0s 0.7s);

  .navigation-is-open & {
    visibility: visible;
    @include transition(visibility 0s 0s);
    @include transition-timing-function(cubic-bezier(.91,.01,.6,.99));
  }

  // the nav screen

  .container {
    max-width: 600px;
  }

  img.logo {
    margin-bottom: $global-padding;
  }

  ul.contact {
    font-size: 0.8em;
    line-height: 1.5em;
    color: rgba(white, 0.5);
  }

  .primary-column {
    @include grid-half;
  }

  .secondary-column {
    @include grid-half;
  }

  .subgroup {
    margin-bottom: $global-padding;
    border: 1px solid rgba(white, 0.1);
    border-radius: $global-radius;

    &:last-of-type { margin-bottom: 0; }

    li {
      border-bottom: 1px dotted rgba(white, 0.05);
      &:last-child { border-bottom: none; }

      a {
        display: block;
        @include padding(2% 3%);

        &:hover { background-color: rgba(white, 0.1); }
      }
    }
  }
}



// =========================================
// nav icon button
// =========================================

.nav-trigger {
  background-color: $charcoal;
  @include position(fixed, $global-padding $global-padding null null);
  z-index: 3;
  color: $marigold;
  padding: 7px 16px 10px 16px;
  border-radius: $global-radius;
  line-height: 1em;
  border: 1px solid rgba(white, 0.1);
  font-weight: 400;

  i {
    margin-right: 0.5rem;
    font-size: 0.75em;
    color: rgba(white, 0.5);
  }

  &:hover {
    color: white;
    background-color: $pumpkin;
  }
}



// =========================================
// social nav
// =========================================

.social-nav {
  li {
    display: inline-block;
    margin-right: 0.5em;
    &:last-child { margin-right: 0; }
  }

  i {
    border: 1px solid rgba(white, 0.1);
    border-radius: $global-radius;
    padding: 7px 10px;
    @include transition(all, 0.2s);
    color: rgba(white, 0.5);

    &:hover {
      background-color: rgba(white, 0.1);
      @include transition(all, 0.2s);
      color: white;
    }
  }
}
