body
  background: white


main
  background: $bone
  height: 100vh
  overflow-y: scroll
  -webkit-overflow-scrolling: touch
  position: relative
  z-index: 2
  +transition(transform 0.7s)

  .navigation-is-open &
    +transform(translateX(100%))


.container
  max-width: 830px
  +margin(null auto)


// =========================================
// sections
// =========================================

section
  position: relative

section.main-section
  +padding($section-padding $side-padding)
