body, html {
  background-image: image_url('body-background.jpg');
  background-repeat: repeat;
  overflow-x: hidden;
}

main {
  background: $bone;
  position: relative;
  max-width: $page-width;
  margin: 0 auto;
  z-index: 2;
  @include transition(transform 0.7s);
  backface-visibility: hidden;

  .navigation-is-open & {
    @include transform(translateX(100%));
  }
}


.container {
  @include outer-container;
  @include margin(null auto);
}


// =========================================
// sections
// =========================================

section {
  position: relative;
  background-repeat: no-repeat;
}

.page-hero {
  min-height: 400px;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;

  @include media(min-width 1441px) {
    background-size: cover;
    background-attachment: scroll;
  }

  @include media($medium-down) {
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
  }

  header {
    @include position(absolute, null 0 0 0);
    @include padding($global-padding $side-padding);

  }

  .logo {
    height: 80px;
    @include position(absolute, null 0 -10px null);

    @include media($medium-down) {
      height: 60px;
    }
  }

  .container {
    position: relative;
  }

  h1 {
    @include media($medium-down) {
      max-width: 50%;
      line-height: 1;
    }
  }
}

section.big-quote {
  @include page-section($section-bkgrnd-color: $marigold);
  @include dark-background;

  blockquote {
    font-size: 1.4em;
    margin-bottom: 0;
  }
}



// =========================================
// misc
// =========================================

.map {
  border-top: 1px solid $neutral;
}

// contact block in footer and nav (and etc)
ul.contact {
  .address {
    @include media($medium-up) {
      margin-top: $global-padding/2;
      padding-top: $global-padding/2;
      border-top: 1px dashed rgba(white, 0.1);
    }
  }
}

// boxed grid (like advantages of kung fu)
.grid-boxed {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: $global-padding;

  @include media($medium-up) {
    &:after {
      content: '';
      border-left: 1px solid $neutral;
      @include position(absolute, 0 50% 0 null);
    }

    &:before {
      content: '';
      border-top: 1px solid $bone;
      @include position(absolute, 0 0 null 0);
    }
  }
}

.item {
  @include padding($global-padding 0);

  @include media($medium-up) {
    @include padding($global-padding);
    width: 50%;
    border-top: 1px solid $neutral;
  }

  p {
    font-size: 0.9em;
  }
}
