body, input, button, select, textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

body {
  font-family: $primary-font;
  font-weight: $primary-font-weight;
  line-height: 1.4em;
  color: $charcoal;
  font-size: 16px;
}



// =========================================
// headers
// =========================================

h1, h2, h3, h4, h5 {
  font-weight: $primary-font-weight;
  line-height: 1.2em;
}

h1 {
  color: white;
  font-size: 2.2rem;
  margin: 0;

  @include media($medium-up) {
    font-size: 2.75rem;
  }
}

h2 {
  color: $verdant;
  font-size: 1.6rem;
  margin-bottom: 0.3em;

  small {
    font-size: 0.5em;
  }

  @include media($medium-up) {
    font-size: 1.8rem;
  }
}

h3 {
  color: $pumpkin;
  font-size: 1.2rem;
  margin-bottom: 0.2em;

  @include media($medium-up) {
    font-size: 1.3rem;
  }
}

p + h3 {
  margin-top: 1em;
}

h4 {
  font-size: 1.2rem;
  margin-bottom: 0.2em;
  color: $azure;
}





// =========================================
// links
// =========================================

a {
  color: $verdant;
  text-decoration: none;
  @include transition(all, 0.4s);

  &:hover {
    color: $water;
    @include transition(all, 0.2s);
  }
}

a.link-tiny-external {
  font-size: 0.7em;
  text-transform: uppercase;

  &:before {
    content: '\f08e';
    font-family: FontAwesome;
    margin-left: 7px;
    margin-right: 2px;
  }
}



// =========================================
// mostly inline stuff
// =========================================

strong {
  font-weight: 400;
}

em {
  font-style: italic;
}

small {
  font-size: 0.7em;
  line-height: 0.9em;
}




// =========================================
// block level
// =========================================

p {
  font-size: 16px;
  @include margin(0 0 0.7em 0);
  line-height: 1.6em;

  &:last-child {
    margin-bottom: 0;
  }
}


p.lede {
  font-size: 1.2rem;
  line-height: 1.3em;
  color: $coffee;
}


blockquote {
  font-size: 1.2rem;
  line-height: 1.5em;
  color: $coffee;
  margin: 1em 0;
  border-left: 1px solid $neutral;
  padding-left: 0.75em;

  footer {
    font-size: 0.75em;
  }
}

p.fine-print {
  font-size: 0.85em;
  margin-top: 1em;
}



// =========================================
// lists
// =========================================

ul {
  li {
    i {
      margin-right: 0.5em;
      font-size: 0.9em;
    }
  }
}

ol.default {
  counter-reset: numbers;

  li {
    padding-left: 25px;
    margin-bottom: 0.5em;
    font-size: 0.9em;

    &:before {
      content: counter(numbers, decimal-leading-zero);
      counter-increment: numbers;
      margin-left: -25px;
      width: 25px;
      display: inline-block;
      font-size: 12px;
    }
  }
}

ul.inline-list {
  li {
    display: inline-block;
    margin-right: $global-padding/2;

    &:nth-child(even) {
      color: $coffee;
    }
  }
}

dl.card {
  border: 1px solid $neutral;
  border-radius: $global-radius;
  overflow: hidden;
  background: white;

  dd, dt { padding: 15px; }

  dt {
    background-color: $azure;
    color: $bone;
    font-size: 1.2rem;

    small {
      display: block;
      font-size: 0.9rem;
      line-height: 1.3em;
      margin-top: 5px;
    }
  }

  dd {
    font-size: 1.5em;
  }

  @include media($medium-down) {
    @include span-columns(6);
  }

  @include media($medium-up) {
    @include span-columns(3);
  }
}



// =========================================
// hr
// =========================================

hr {
  border: none;
  height: 1px;
  background: lighten($neutral, 10%);
  margin: $global-padding 0;
  width: 100%;
}
